body{
    background-color: rgb(250, 249, 249);
}
.sidenav{
    position:fixed;
    min-height:1vh;
    top:80px;
}
header{
    font-weight: 900;
    margin:20px;
    position:fixed;
    top:0px;
}
#nav{
    max-width: 200;
    font-weight:900;
    font-size: larger;
    list-style: none;
    line-height: 2.5em;
    padding-left: 10px;
    border-left:4px solid grey;
    margin-top:4px;
    background-color: rgb(221, 220, 220);
}
.top1{
    position: absolute;
    right:70px;
    top:20px;
    color:grey;
}
.Rnav{
    position: absolute;
    right:60px;
    top:50px;
}
.links{
    position: absolute;
    right:60px;
    top:150px;
}
#linkli{
    color:blue;
    list-style-type:none;
    padding:0px;
    left:50px;
}
.r1{
    padding:0px;
}
.main{
    margin-top:60px;
    margin-left:250px;
    margin-right:200px;
    text-align: justify;
    line-height: 1.5em;
    padding:10px;
}
h2,h1{
    font-weight: 900;
}